<html>
  <head>
    <title>
      Raid Area 51: The Game!
    </title>
    <link rel="stylesheet" type="text/css" href="start.component.css" />
  </head>
  <body>
    <h1>Area 51: The Game!</h1>
    <img src="https://fsmedia.imgix.net/25/19/2e/e6/7feb/409e/aca0/7c4d8344a94d/area-51-is-revealed-in-extraordinary-detail-on-google-maps.png?rect=107%2C37%2C1219%2C611&auto=format%2Ccompress&dpr=2&w=650" height="350" width="500">
    <p>
      Dialogue
    </p>
    <ol>
      <li id="1">
        <button type="button" onclick="CLICKSCRIPT1">OPTION1</button>
      </li>
      <li id="2">
        <button type="button" onclick="CLICKSCRIPT2">OPTION1</button>
      </li>
    </ol>
  </body>
</html>
