<!-- MASSIVE CREDIT TO VISUAL STUDIO INTELLISENSE -->
<h1 id="title">{{storyService.stage.Title}}</h1>
<p>{{storyService.stage.Variables.Dialogue}}</p>
  <!--<! picture of player !>-->
<div class="combatant" id="player">
  <img src="../assets/protagonist.png" style="width: 500px" />
  <progress class="healthbar" id="PLHealth" [value]="playerService.player.health" max="25"></progress>    <! credit to www.w3schools.com !>
</div>

  <!--<! picture of enemy !>-->
<div class="combatant" id="enemy">
  <img src="../assets/antagonist.png" style="width: 500px" />
  <progress class="healthbar" id="ENHealth" value="10" max="20"></progress>    <! credit to www.w3schools.com !>
</div>

<div id="datalist">
  <!--<! list of stats !>-->
  <div class="data">
    <h3>Player Statisitics</h3>
    <ul>
      <li>Offense Points: {{playerService.player.combatOffense}}</li>
      <li>Defense Points: {{playerService.player.combatDefense}}</li>
      <li>Luck: {{playerService.player.luck}}</li>
      <li>Health: {{playerService.player.health}}</li>
    </ul>
  </div>
  <div class="data">
    <h3>Enemy Statisitics</h3>
    <!--<ul>
      <li>Offense Points: {{enemyService.Enemies[storyService.playerService.player.combatOffense}}</li>
      <li>Defense Points: {{playerService.player.combatDefense}}</li>
      <li>Luck: {{playerService.player.luck}}</li>
      <li>Health: {{playerService.player.health}}</li>
    </ul>-->
    <p>SCARY</p>
  </div>
</div>
<button (click)="attack()" class="btn btn-warning"><h2>Attack!</h2></button>
